<ng-container *ngIf="data$ | async as data">
  <dp-loading *ngIf="data.isLoading"></dp-loading>
  <dp-error-message
    *ngIf="data.error"
    [message]="data.error"
  ></dp-error-message>

  <div class="sidebar" *ngIf="data.popularTags">
    <p>Popular Tags</p>
    <div calss="tag-list">
      <a
        *ngFor="let popularTag of data.popularTags"
        [routerLink]="['/tags', popularTag]"
        class="tag-default tag-pill"
      >
        {{ popularTag }}
      </a>
    </div>
  </div>
</ng-container>
